services:
  - type: worker
    name: meeting-room-bot
    env: python
    pythonVersion: "3.12.7"
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: GROUP_CHAT_ID
        sync: false
